/*Universal Selector*/
/* we do not usually use baground colour in universal selector */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* this is paragraph styling */
p{
    color: #ded6c8;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: hsla(900deg, 60%, 70%, 0.6);
    	/* Absolute units */
	width: 20px;
	/*Relative units*/
	width: 70vw;
	/*The numbered values with no units*/
	margin: 0;
	line-height: 1.2;
}

/* there are two types of length values */
/* absolute(includes px or cm(width is always fixed)) and relative(will resize with screen) */
/* we mostly use relative units as it is responsive */
/* 0 deosnt require units */
/* line height also does not require units */


/* Type/ Element/ Tag Selector */
strong {
	font-size: 20px;
}


div {
	/*Function Values*/
	transform: rotate(0deg);
	width: calc(100% - 20px);
	height: 100vh;
	background-image: url("./assets/small.jpg");
}

/* Grouping Selector */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: blue;
}

/* Class Selector */
.heading {
	background-color: #fff;
}

/* ID Selector */
#one {
	font-size: 30px;
}

/* Desendant Selector */
.div p {
	font-size: 50px;
}

/* Combinig Selector */
.div .container {
	font-style: italic;
}